<div class="container">
  <div class="row">
      <div class="col-xl-7">
          <div class="row" id="data">
              <div class="col-sm-6">
                  <a id="camera-icon"><i class="fas fa-camera" style="color: lightslategrey;"></i></a>
              </div>
              <div class="col-sm-6">
                  <a id="home" href="#">Home</a>
              </div>
          </div>
          <div class="row" id="login">
              <div class="col-xl-2"></div>
              <div class="col-xl-8">
                  <p>START YOUR PERSONAL PHOTO EXPERIENCE</p>
                  <h2>Login your account</h2>
                  <div class="input-icons">
                      <p>E-mail</p>
                      <div class="input-group mb-3">
                          <i class="fas fa-envelope icon"></i>
                          <input class="input-field" type="email" placeholder="Your E-mail"/>
                      </div>
                  </div>
                  <div class="input-icons">
                      <p>Password</p>
                      <div class="input-group mb-3">
                          <i class="fas fa-key icon"></i>
                          <input class="input-field" type="password" placeholder="Your Password" />
                          <a href="#"><i class="fas fa-eye-slash" style="padding: 14px 8px 8px 0px; margin-left: -30px; color: lightgrey; min-width: 50px;"></i></a>
                      </div>
                  </div>
                  <button class="btn btn-secondary" type="button">Register</button>
                  <button class="btn btn-primary" type="submit">Login</button><br/>
                  <input id="checkbox" type="checkbox" /><span>Remember me</span>
                  <a id="password" href="#">Forgot Password?</a>
              </div>
          </div>

          <p id="language"><a href="#">DE</a> - <a href="#">EN</a></p>
      </div>

      <div class="col-xl-5">
          <img alt="image" src="images/image01.PNG" width="573" height="623"/>
      </div>
  </div>
</div>
