body {
  font-family: Calibri;
  color: #d3d3d3;
}

:focus-visible {
  outline: none;
}

.container {
  width:100%;
}

#left {
  display: inline-block;
  width: 48%;
}

#right {
  width: 45%;
  float: right;
}

#camera-icon {
  float: left;
  width: 10%;
}

#home {
  float: right;
  text-decoration: none;
  color: lightslategray;
}

#password {
  padding-left: 15px;
  text-decoration: none;
  color: lightslategray;
}

#data {
  margin: 30px;
}

#data .icon {
  padding: 8px 8px 8px 15px;
  color: lightslategray;
  min-width: 50px;
}

#login {
  padding: 20px;
  margin-top: 50px;
}

.input-field {
  padding: 8px 0px 8px 45px;
  width: 50%;
  border: 2px solid #d3d3d3;
  margin:0px 0px 15px 15px;
}

#checkbox {
  border-radius: 20px;
  border: 2px solid #d3d3d3;
  margin:10px 0px 15px 15px;
}

span {
  color: lightslategrey;
  padding: 8px;

}

p{
  margin-left: 15px;
  color:#d3d3d3;
}

h2{
  margin-left: 15px;
  color: lightslategrey;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 14px 8px 8px 15px;
  color: #d3d3d3;
  min-width: 50px;
  margin: 0px 15px 15px 15px;
}

button{
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  border:2px solid dodgerblue;
  width: 25%;
  background: none;
  color: dodgerblue;
}

#language {
  float:right;
  font-size: 15px;
  color:#d3d3d3;
}

#language a {
  text-decoration: none;
  color: #d3d3d3;
}
